* {
  box-sizing: border-box;
}
:root {
  --font-2th: "Public Sans";
  --font-3th: "Sonsie One";
  --service-columns: 3;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 62.5%;
}
/* Common */
.main-content {
  width: 1140px;
  max-width: calc(100%vw - 48px);
  margin: 0 auto;
}
.btn {
  display: block;
  padding: 15px 0;
  /* height: var(--height); */
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: #143c3c;
  color: #fff;
  text-align: center;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  /* line-height: var(--height); */
}
a {
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: block;
}
/* Header */
.header-top {
  padding-top: 28px;
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}
.nav-item {
  position: relative;
  padding: 0 17px;
  color: #575d5e;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
}
.nav-item:hover {
  color: #152427;
}
.nav-item:hover::after {
  position: absolute;
  bottom: -25px;
  left: 17px;
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background: #143c3c;
}
.header-top__btn {
  --height: 57px;
  width: 173px;
  margin-left: 88px;
}
/* Hero*/
.hero {
  margin-top: 13px;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 40%;
}
.hero__heading {
  width: 368px;
  color: #152427;
  font-family: var(--font-2th);
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
}
.hero__desc {
  width: 341px;
  margin-top: 20px;
  color: #575d5e;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.hero__action {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 36px;
}
.hero__btn {
  --height: 57px;
  width: 173px;
}
.video-action {
  display: flex;
  align-items: center;
}
.play-video {
  display: flex;
}
.watch-icon {
  margin-left: -20px;
}
.hero__link {
  display: block;
  margin-left: 15px;
  color: #152427;
  font-family: var(--font-2th);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.hero__images {
  position: relative;
  margin-top: 60px;
  width: 55%;
  display: flex;
  gap: 20px;
  /* background: #83a17d; */
}
.astract1,
.silk {
  position: absolute;
  display: block;
}
.astract1 {
  top: -50px;
  left: -200px;
  z-index: 2;
}
.silk {
  top: -50px;
  left: -150px;
  z-index: 2;
}

.hero__image {
  display: block;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}
.hero__image:nth-child(2) {
  top: 77px;
}
/* branch */
.branch-list {
  margin-top: 130px;
  padding: 76px 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100.5px;
  background: #e2eddf;
}
.branch-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.branch-icon {
  display: block;
  width: 40px;
  height: 31px;
}
.branch-name {
  color: #143c3c;
  font-size: 26px;
  font-weight: 400;
}
.brach-item__rio {
  font-family: var(--font-3th);
}
/* Services */
.services {
  margin-top: 106px;
}
.service__title {
  position: relative;
  padding-left: 46px;
  color: #152427;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}
.service__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 1px;
  background: #152427;
}
.service__heading {
  margin-top: 12px;
  width: 44%;
  color: #152427;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.23;
}
.service__controls {
  display: flex;
  align-items: center;
  gap: 17px;
}
.service__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #e2eddf;
}
.service__control-icon {
  color: #152427;
}
.service__control:hover {
  background: #143c3c;
}
.service__control:hover .service__control-icon {
  color: white;
}
.service-list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.service-item {
  width: 370px;
  border-radius: 20px 20px 28px 28px;
  background: #fff;
  transition: 0.5s ease;
}
.service-item__thumb {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 318px;
  object-fit: cover;
  overflow: hidden;
}
.service-item__infor {
  margin-top: 24px;
  padding-bottom: 23px;
}
.service-item__heading {
  color: #152427;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}
.service-item__desc {
  width: 73%;
  margin-top: 18px;
  color: #7d8188;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}
.service-item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  border-radius: 20px;
}
.service-item:hover .service-item__infor {
  padding-left: 18px;
}
/* About */

.about {
  margin-top: 157px;
}
.about__body {
  display: flex;
  gap: 64px;
}
.about__images {
  display: flex;
  gap: 21px;
  position: relative;
}
.about__img__astract,
.about__img__silk,
.about__sumary {
  position: absolute;
  display: block;
}
.about__img__astract {
  transform: rotate(20deg);
  top: -18px;
  left: 46px;
}
.about__img__silk {
  top: -20px;
  left: 89px;
}
.about__image {
  display: block;
  width: 284px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__image--first {
  margin-top: 90px;
}
.about__image--second {
  margin-top: 13px;
}
/* About summary */
.about__sumary {
  padding: 20px 14px;
  right: 0;
  bottom: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}
.about__sumary__heading {
  color: #152427;
  font-family: var(--font-2th);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
.about__sumary__desc {
  margin-top: 8px;
  color: #575d5e;
  font-family: var(--font-2th);
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
}
.about__sumary__percent {
  display: block;
  margin-top: 10px;
  color: #152427;
  font-family: var(--font-2th);
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
}
.about__sumary__loading-bar {
  margin-top: 3px;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
  overflow: hidden;
}
.about__sumary__loading-bar::after {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  background-color: #83a17d;
  animation: loading 1s infinite ease-in-out;
}
.about__sumary__loading-title {
  display: block;
  margin-top: 3px;
  text-align: right;
  color: #152427;
  font-family: var(--font-2th);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
}
.about__sumary_loading-end {
  position: relative;
  margin-top: 3px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eaeaea;
}
.about__sumary_loading-end::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #143c3c;
  position: absolute;
  transform: translate(50%, 50%);
}
.about__sumary__row {
  margin-top: 5px;
  gap: 30px;
}
.about__sumary__label-team {
  color: #152427;
  font-family: var(--font-2th);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
}
.about__team-list {
  display: flex;
  align-items: center;
}
.about__team-item {
  margin-left: -6px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #fff;
  object-fit: cover;
}
.about__title {
  position: relative;
  padding-left: 46px;
  color: #152427;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
}
.about__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 1px;
  background: #152427;
}
.about__heading {
  margin-top: 20px;
  width: 483px;
  color: #152427;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
}
.about__desc {
  width: 478px;
  margin-top: 11px;
  color: #7d8188;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}
.about__counts {
  margin-top: 36px;
}
.about__count {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #83a17d;
}
.about__quantity {
  color: #152427;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
}
.about__count__desc {
  color: #7d8188;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}
/* Process */
.process {
  margin-top: 79px;
}
.process__title {
  position: relative;
  margin-top: 36px;
  padding-left: 53px;
  color: #152427;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
}
.process__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  background: #152427;
  top: 9px;
  left: 0;
}
.process__heading {
  margin-top: 20px;
  color: #152427;
  width: 471px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23; /* 123.81% */
}
.process-list {
  margin-top: 81px;
  position: relative;
}
.process-item__image {
  display: block;
  width: 450px;
  height: 444px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  right: 92px;
  top: -266px;
}
.process-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 54px 20px;
  border-radius: 33px;
  /* background: #e2eddf; */
}
.process-item__order {
  color: #143c3c;
  font-size: 72px;
  font-weight: 600;
}
.process-item__heading-block {
  width: 34%;
  margin-left: 64px;
}
.process-item__heading {
  padding: 15px 0;
  color: #152427;
  font-size: 22px;
  font-weight: 600;
}
.process-item__heading-learn {
  display: none;
  margin-top: 22px;
  color: #575d5e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.process-item__desc {
  display: block;
  width: 50%;
  color: #7d8188;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
}
.process-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
  left: 0;
  bottom: 0;
}
.process-item:hover {
  background: #e2eddf;
}
.process-item:hover .process-item__heading-learn {
  display: block;
}
.process-item:hover::after {
  background: #fff;
}
/* Features 1 */
.feature {
  margin-top: 148px;
  background: #143c3c;
}
.feature__body {
  padding: 116px 0 63px;
}

.feature__row {
  align-items: flex-start;
  gap: 93px;
}
.feature__heading {
  position: relative;
  width: 40%;
  color: #e7f9f9;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
}
.feature__heading::after {
  content: "";
  display: block;
  position: absolute;
  width: 66px;
  height: 2px;
  background: #83a17d;
  bottom: 20px;
  right: 97px;
}
.feature__desc {
  margin-top: 13px;
  display: block;
  width: 570px;
  color: #6a8383;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
}

.feature__link {
  display: block;
  margin-top: 13px;
}
.feature__link__desc {
  margin-right: 26px;
  color: #fff;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
}
.feature__video {
  margin-top: 65px;
  border-radius: 22px;
}
/* Features 1 */
.feature1 {
  margin-top: 140px;
}
.feature1__heading {
  width: 520px;
  color: #152427;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
}
.feature1__desc {
  margin: 0 auto;
  width: 547px;
  text-align: center;
  margin-top: 20px;
  color: #7d8188;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.feature1__list {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
}
.feature1__item {
  width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature1__item__icon {
  width: 40px;
  height: 38px;
  display: block;
  object-fit: cover;
}
.feature1__item__heading {
  margin-top: 26px;
  color: #152427;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.feature1__desc {
  margin-top: 9px;
  width: 264px;
  color: #7d8188;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
}
.feature1__item:hover {
  margin-top: -59px;
  border: none;
  background: #fff;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}
/* Blog */
.blog {
  margin-top: 184px;
}
.blog__title {
  padding-left: 46px;
  position: relative;
  color: #152427;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
}
.blog__title::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background: #152427;
  left: 0;
  top: 9px;
}
.blog__row {
  margin-top: 10px;
}
.blog__heading {
  position: relative;
  color: #152427;
  width: 520px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
}
.blog__heading::after {
  position: absolute;
  content: "";
  display: block;
  background: #152427;
  width: 82px;
  height: 3px;
  bottom: 16px;
  right: -51px;
}
.blog__desc {
  width: 409px;
  color: #7d8188;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}
.blog__list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog__item {
  width: 360px;
  background: #fff;
  border-radius: 40px 40px 20px 20px;
}
.blog__item__thumb {
  width: 100%;
  height: 317px;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}
.blog__info {
  padding: 26px 20px 12px 0px;
}

.blog__btn {
  width: 107px;
  padding: 7px 33px;
  background: #e2eddf;
  border: none;
  border-radius: 20px;
  color: #000;
  font-size: 10px;
  font-weight: 500;
}
.blog__item__heading {
  height: 90px;
  margin-top: 20px;
  color: #143c3c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66;
}

.blog__item__data {
  position: relative;
  display: block;
  margin-top: 55px;
  text-align: right;
  color: #575d5e;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.blog__item__data::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  left: 0;
  top: -15px;
}
.blog__item:hover {
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
  border: none;
}
.blog__item:hover .blog__info {
  padding-left: 30px;
  padding-right: 33px;
}
.blog__item:hover .blog__btn {
  background: #143c3c;
  color: #e2eddf;
}
/* Footer */
.footer {
  margin-top: 102px;
  background: #143c3c;
  padding: 72px 0 90px;
}
.footer__body {
  display: flex;
  position: relative;
}
.column__heading,
.column-list {
  min-width: 80px;
}
.column__heading {
  padding-top: 22px;
  color: #fff;
  font-family: var(--font-2th);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
}
.column__list {
  display: block;
  margin-top: 6px;
}
.column-item {
  display: block;
  padding: 5px 0;
  color: #6a8383;
  font-family: var(--font-2th);
  font-size: 16px;
  font-weight: 500;
  line-height: 2.25;
}
.column__row {
  position: relative;
  margin-top: 25px;
  width: 339px;
}
.column__row::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -30px;
  background: #6a8383;
}
.column:first-child {
  margin-right: 261px;
}
.column:not(:first-child) {
  margin-right: 50px;
}
.column__heading--1st {
  padding: 0;
  display: block;
  width: 411px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.column__input {
  border: none;
  background: transparent;
  color: #6a8383;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}
.column__btn {
  background: transparent;
  border: none;
}
.socials-list {
  margin-top: 84px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.social-item {
  display: block;

  border-radius: 50%;
  border: 1px solid #265252;
}
.social-item:hover {
  background: #a75325;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
}
.social__icon {
  background: transparent;
  fill: none;
}
.footer__body::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
  left: 0;
  bottom: -45px;
}
/* Keyframe */
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(350%);
  }
}
